/* semantic color variables for this project */
:root {
  --color-background: #FFFFFF;
  --color-primary: #8892EE;
  --color-secondary: #97C3E9;
  --color-tertiary: #D9EE88;
  --color-quaternary: #EFB7FA;
  --color-btns: #191919;
  --color-border: #B5B5B5;
  /* --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}